<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648579734856-8r3jvdls2klnf5kimuvc14ft5eh36cr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648579734856-8r3jvdls2klnf5kimuvc14ft5eh36cr9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>648579734856-mdfq4nn652tisihnumsv2ju5i758gbl1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHjwwFRSLhkf5bZ35PS3MPuQCtQ1iJTDo</string>
	<key>GCM_SENDER_ID</key>
	<string>648579734856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTaskKortobaa</string>
	<key>PROJECT_ID</key>
	<string>flutter-task-kortoba</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-task-kortoba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648579734856:ios:4c51c120f93451f336277d</string>
</dict>
</plist>